		.jumpForward {
			background-image: url('https://res.cloudinary.com/dzaua3o5t/image/upload/v1611740469/play-forward-hhu_xoalwx.png') !important;
    		background-repeat: no-repeat !important;
			background-size: contain !important;
    		background-position: initial !important;
   
    		display: table-cell !important;
    		padding-bottom: 100% !important;
    		padding-right: 16% !important;
    		margin-left: auto !important;
			margin-right: auto !important;
			margin: 0 auto !important;       
		 }
        
        .jumpBackward {
    		background-image: url('https://res.cloudinary.com/dzaua3o5t/image/upload/v1611740469/play-backward-hhu_uvfeev.png') !important;
			background-repeat: no-repeat !important;
    		background-size: contain !important;
			background-position: initial !important;
			color: rgba(240, 255, 255, 0) !important;
   			padding-left: 16% !important;
			padding-bottom: 100% !important;
			margin-left: auto !important;
			margin-right: auto !important;
			margin: 0 auto !important;
		 }
                
        .jw-reset {
            line-height: 2em !important;
		 }
        
        .jw-skin-seven .jw-icon-display {
            display: table-cell !important; 
            font-size: 4em !important;	
        }
		
		.jw-display-icon-container {
			margin: -3.75em auto 0 !important;
			top: 50% !important;
			width: unset !important;
    		cursor: pointer !important;
		}
		
		.jw-display-icon-container img{
			width: auto  !important; 
			height: auto !important;
			max-width: 120px !important;
			max-height: 100px !important;
		}
